name: Deploy to AWS using OIDC

on: 
  push:
    branches:
      - main
      - infra-dev-setup

permissions:
  id-token: write
  contents: read

jobs:
  run_job_with_aws:
    runs-on: ubuntu-latest
    environment: infra-dev-setup
    env:
          TF_VAR_environment: ${{ secrets.TF_ENVIRONMENT }}
          TF_VAR_region: ${{ secrets.TF_REGION }}

          TF_VAR_instance_map: ${{ secrets.TF_INSTANCE_MAP }}
          TF_VAR_group_map: ${{ secrets.TF_GROUP_MAP }}
          TF_VAR_rbac_map: ${{ secrets.TF_RBAC_MAP }}
          
          TF_VAR_cognito_app_client_id: ${{ secrets.TF_COGNITO_APP_CLIENT_ID }}
          TF_VAR_cognito_user_pool_id: ${{ secrets.TF_COGNITO_USER_POOL_ID }}
          TF_VAR_frontend_origin: ${{ secrets.TF_FRONTEND_ORIGIN }}

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2
        
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v5 # Or a specific version
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_ARN }}
          audience: sts.amazonaws.com
          aws-region: ${{ secrets.TF_REGION }}

      - name: Terraform Init
        run: |
          cd Projects/Infra/envs/dev
          terraform init

      - name: Terraform Plan
        run: |
          cd Projects/Infra/envs/dev
          terraform plan

      - name: Terraform Apply
        run: |
          cd Projects/Infra/envs/dev
          terraform apply -auto-approve

      - name: Additional steps
        run: |
          # Your commands that require AWS credentials
          aws sts get-caller-identity 

