name: Deploy to AWS using OIDC

on: 
  push:
    branches:
      - main
      - infra-dev-setup

permissions:
  id-token: write
  contents: read

jobs:
  run_job_with_aws:
    runs-on: ubuntu-latest
    environment: infra-dev-setup

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2

      - name: Debug OIDC Token Claims
        id: oidc
        run: |
          echo "Requesting OIDC token..."
          TOKEN=$(curl -sSL -H "Authorization: Bearer $ACTIONS_ID_TOKEN_REQUEST_TOKEN" "$ACTIONS_ID_TOKEN_REQUEST_URL")
          echo "$TOKEN" | jq .


      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v5 # Or a specific version
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_ARN }}
          aws-region: us-east-1

      - name: Terraform Init
        run: terraform init

      - name: Terraform Plan
        run: terraform plan

      - name: Terraform Apply
        run: terraform apply -auto-approve

      - name: Additional steps
        run: |
          # Your commands that require AWS credentials
          aws sts get-caller-identity 

